@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
nav ul{
  width:100%;
  list-style: none;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height:fit-content;
}
nav a{
  height:100%;
  width:100%;
  padding: 0 30px;
  text-decoration: none;
  align-items: center;
  color:black;
}
.top{
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.top .sidebar a{
  margin-right:4rem;
}
.right .sidebar{
  width:100vw;

  display:flex;
  flex-direction: column;
}
.right .sidebar li{
  margin-top:5px;
}
header{
  width:100%;
}
 

body{
  height:100vh;
  width:100vw;
  padding:2rem;
}
a{
  color:black;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  margin-right:1rem;
}

.left{
  color:orange;
  font-size:30px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right{
  margin-top:20px;
  margin-bottom:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  height:70%;
  width:100%;
  display:flex;

}
.main{
  display:flex;
  font-size:40px;
  align-items: center;

}
.welcome{
  font-size:20px;
  color:orange;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:600;
}


.dynamic{
  margin-left:20px;
  font-size:40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  color:orange;
}
.left2{
  width:50%;
  height:100%;
}
.about{
  margin-top:40px;
  font-size:20px;
}
.handle{
  display: flex;
  margin-top:4rem;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height:3rem;
  width:3rem;
  border:2px solid orange;
  padding: 1rem;
  border-radius: 50%;
}
.a1{
  height:2rem;
  width:2rem;
}
.social{
  height:3rem;
  width:3rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.right2{
  width:50%;

  height:30rem;
  display:flex;
  justify-content: center;
  align-items: center;

}
.dc{
  height:28rem;
  width:28rem;
  border:2px dotted orange;
  border-radius: 50%;
  position:absolute;

  z-index:-1;

}
.bg{
  height:25rem;
  width:25rem;
  background-color: orange;
  border-radius: 50%;
  position:absolute;
  z-index:-1;
}
.photo{
  height:30rem;
  position: relative;
  top:-3rem;
  right:-2rem;

}
.gfg{
  height:2rem;
  width:2rem;
}
.page2_start{
  font-size:40px;
  display:flex;
  justify-content: center;
  font-weight:600 ;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top:11rem;
}
.serv{
  color:orange;
  margin-left:10px;
}

.aboutserv{
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:1rem;
}
.about2{
  width:50%;
  text-align: center;
}
.line{
  width:5rem;
  height:3px;
  background-color: orange;
  display: flex;
  justify-content: center;
}
.outer_box{
  width:100%;
  display: flex;
  justify-content: center;
}
.boxes{
  width:70%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.box{
  width: 90%;
  height: 18rem;
  margin:1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border:1px solid rgb(221, 219, 216);
  border-radius: 10px;
}
.detail{
  text-align: center;
}
.lar{
  font-size:25px;
  margin-top:1rem;
  font-weight: 500;
  margin-bottom:1rem;
}
.box:hover{
  background-color: orange;
  color:white;
  i{
    color:white;
  }

}
.change{
  display: flex;
}
@media screen and (max-width:600px) {
  .dc{
    height:22rem;
    width:22rem;
  }
  .bg{
    height:20rem;
    width:20rem;
  }
  
}
@media screen and (max-width:1200px) and (min-width:800px) {
  .center{
    width:100%;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

  }
  .top .sidebar{
    display: none;
  }
  .top{
    display:flex;
    justify-content: space-between;
  }
  header{
    flex-direction: column;
  }
  .left2{
    width:100%;
  }
  .right2{
    width:100%;
  }
  .outer_box{
    justify-content: center;
  }
  .boxes{
    width:70%;
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width:800px) {
  .center{
    width:100%;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

  }
  .top .sidebar{
    display: none;
  }

  .left2{
    width:100%;
  }
  .right2{
    width:100%;
  }
  .boxes{
    width:100%;
    grid-template-columns: repeat(1,1fr);
  }
  
}
@media screen and (max-width:1000px){
  .change{
    display:none;
  }
  
}
@media screen and (min-width:1000px){
  .change2{
    display:none;
  }
  
}
.type{
  text-align: center;
  margin-top:8rem;
}
.type button{
  padding:.5rem;
  margin-right:10px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: rgb(242, 243, 243);
  border-radius: 20px;
  border: none;
  font-size: 20px;
}
.page3{
  text-align: center;
  margin-top:30px;
}
.page3 button{
  font-size: 25px;
  border: none;
  margin-right:20px;
  padding:.5rem;
  border-radius: 10px;
  background-color: rgb(237, 235, 235);

}
.type button:hover{
  background-color: orange;
  color:white;
}
.big_box{
  width:100%;
  padding:2rem;
  float: left;
  columns: 3;
  

}
.big_box img{
  width:100%;
}
.div2 .img1{
  height:14rem;
}
.button_show{
  text-align: center;
}
.button_show button{
  font-size: 25px;
  border: none;
  padding:.5rem;
  background-color:rgb(242, 243, 243);
  border-radius: 10px;
}
.button_show button:hover{
  background-color: orange;
  color:white;
}
.page3 .btn_All{
  background-color: orange;
  color:white;
}
.page4{
  margin-top:8rem;
  height:100%;
  width:100%;
  display: flex;
}
.div_left i{
  height:3rem;
  width:3rem;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.v_line{
  height:10rem;
  border-left:5px solid orange;
  margin-left:20px;
}
.left4{
  margin-left:1rem;
  display:flex;
}
.page4_box{
  height:11rem;
  width:35rem;
  border:1px solid rgb(134, 133, 133);
  border-radius:10px;
  padding:1rem;
  margin-bottom:2rem;
}
.page4_box div{
  font-size: 20px;
  font-weight: 500;
  margin-bottom:.5rem;
}
.page4_box .year{
  font-weight: 900;
  font-size: 15px;
  color:orange;
}
@media screen and (max-width:800px) {
  .page3 button{
    font-size:13px;
  }
  .button_show button{
    font-size:13px;
  }
  .big_box{
    columns: 1;
  }
  .v_line{
    height:30%;
  }
  .left4{
    margin-left:0;
  }
}
@media  screen and (max-width:1100px) and (min-width:800px) {
  .big_box{
    columns:2;
  }
  .v_line{
    height:30%;
  }
}
@media screen and (max-width:1500px) {
  .page4_box{
    width:100%;
    height:33%;
  }
  
}
@media screen and (max-width:500px) {
  .v_line{
    height:31%;
  }
  
}
@media screen and (max-width:1200px) {
  .page4{
    flex-direction: column;
    align-items: center;
  }
  .left4{
    margin-bottom:5rem;
  }
  
}